@{
    ViewData["Title"] = "My Podcast";
}
<h1>@ViewData["Title"]</h1>

<p>Here is a link to my super epic Podcast. I hope you enjoy. I am the best and I know that anything that I make is the best. You're Welcome!</p>
<a href="https://baconsale.com/">
    <p>Click Here</p>
</a>
